# Virtualenv
venv/
home-chatbot-venv/

# Env files
.env
secrets.json

# Cache
__pycache__/
*.pyc
temp_*


# File temporanei e cache
__pycache__/
*.pyc
*.log
*.tmp
*.swp

# Database locale Chroma
data/chroma_db/
LICENSE